/******************************
** === TABLE OF CONTENTS === **
*******************************
** 00. MAIN STYLES
** 01. CHATS LIST
** 02. MESSAGE LIST
** 03. GITHUB PAGES
******************************/

/* -- 00. MAIN STYLES -- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* style reset for modernbb */
#modernbb #FAM-button i.fa, #modernbb #FAM i.fa, #modernbb #FAM-send {
  margin:initial;
  vertical-align:initial;
}

/* FAM primary styles */
#FAM, #FAM * { box-sizing:border-box; }
#FAM {
  color:#333;
  font-size:13px;
  font-family:Arial, sans-serif;
  background:#FFF;
  border:1px solid #DDD;
  position:fixed;
  height:70%;
  width:40%;
  min-height:400px;
  min-width:300px;
  right:3px;
  z-index:99999;

  /* transitions for the hidden rule below */
  visibility:visible;
  opacity:1;
  bottom:35px;
  transition:500ms;
}

/* hides chat */
#FAM[data-hidden="true"] {
  visibility:hidden;
  opacity:0;
  bottom:-100%;
}

/* embeded chat style */
#FAM.FAM-embeded {
  position:relative;
  bottom:0;
  right:0;
  width:100%;
  height:400px;
  margin:12px 0;
  z-index:1;
}

/* toggle chat button */
#FAM-button {
  color:#FFF;
  font-size:18px;
  text-align:center;
  background:#39F;
  position:fixed;
  width:30px;
  height:30px;
  right:3px;
  bottom:3px;
  cursor:pointer;
  z-index:99999;
}
#FAM-button i { line-height:30px; }
#FAM-button:hover { background-color:#28E; }
#FAM-button:active { background-color:#17D; }

/* toolbar */
#FAM-toolbar {
  color:#FFF;
  background:#39F;
  border-bottom:1px solid #28E;
  height:40px;
  line-height:40px;
  margin:-1px -1px 0 -1px;
}

.FAM-maintitle {
  color:#FFF;
  font-size:18px;
  text-align:center;
  width:70%;
  margin:0 auto;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-toolbar-button {
  color:#FFF;
  font-size:24px;
  position:absolute;
  top:-1px;
  height:40px;
  cursor:pointer;
}

.FAM-toolbar-button i { line-height:40px; }
.FAM-toolbar-button i:hover { color:#EEE; }
.FAM-toolbar-button i:active { color:#DDD; }

#FAM-back { left:10px; }
#FAM-menu-toggle { right:10px; }

/* FAM menu */
#FAM-menu {
  color:#666;
  background:#FFF;
  border:1px solid #CCC;
  position:absolute;
  right:-1px;
  top:39px;
  min-width:75px;
  z-index:1;
}

.FAM-menu-option {
  font-size:30px;
  text-align:center;
  padding:4px;
  cursor:pointer;
}
.FAM-menu-option:hover { color:#333; }
.FAM-menu-option:active { color:#000; }

/* hide home button when no history */
#FAM-back[style*="none"] ~ #FAM-menu .FAM-menu-option:first-child { display:none; }

/* content */
#FAM-content {
  height:90%;
  height:calc(100% - 40px);
  overflow-y:auto;
  overflow-x:hidden;
}
#FAM-content.FAM-viewing-topic { height:calc(100% - 80px); }

.FAM-content-block {
  font-size:14px;
  padding:12px;
}

.FAM-loading {
  font-size:18px;
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.FAM-button {
  color:#FFF;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  background:#39F;
  border:none;
  border-radius:4px;
  display:block;
  height:40px;
  padding:0px 12px;
  margin:3px auto;
  cursor:pointer;
  outline:none;
}
.FAM-button:hover { background:#28E; }
.FAM-button:active { background:#17D; }

#FAM .FAM-inputbox {
  color:#333;
  font-size:14px;
  font-family:Arial, sans-serif;
  background:#FFF;
  border:1px solid #DDD;
  border-radius:4px;
  padding:8px;
  width:100%;
  cursor:text;
  outline:none;
}

#FAM textarea.FAM-inputbox {
  height:150px;
  resize:none;
}

#FAM .FAM-inputbox:hover { border-color:#CCC; }
#FAM .FAM-inputbox:focus { border-color:#39F; }

.FAM-center { text-align:center; }
.FAM-row { margin:12px 0; }

/* scrollbar */
#FAM-content::-webkit-scrollbar {
  width:8px;
  height:8px;
}

#FAM-content::-webkit-scrollbar-track { background-color:#DDD; }
#FAM-content::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, 0.1);
  border:none;
}

/* scrollbar buttons */
#FAM-content::-webkit-scrollbar-button:single-button {
  height:0;
  width:0;
}

/* hover / active scrollbar colors */
#FAM-content::-webkit-scrollbar-thumb:hover { background-color:rgba(0, 0, 0, 0.2); }
#FAM-content::-webkit-scrollbar-thumb:active { background-color:rgba(0, 0, 0, 0.3); }

/* actions */
#FAM-actions {
  height:40px;
  border-top:1px solid #DDD;
  display:none;
}
.FAM-viewing-topic + #FAM-actions, .FAM-viewing-forum + #FAM-actions { display:block; }
.FAM-viewing-forum + #FAM-actions { height:0; }

#FAM-new-topic {
  position:absolute;
  right:8px;
  bottom:3px;
  cursor:pointer;
}

#FAM-new-topic .fa-plus { line-height:57px; }
#FAM-new-topic .fa-circle { color:#39F; }
#FAM-new-topic:hover .fa-circle { color:#28E; }
#FAM-new-topic:active .fa-circle { color:#17D; }

#FAM-actions button {
  color:#333;
  font-size:18px;
  background:#FFF;
  border:none;
  border-left:1px solid #DDD;
  height:40px;
  width:40px;
  cursor:pointer;
  outline:none;
}
#FAM-actions button:first-child { border:none; }

#FAM-actions button:hover { background:#EEE; }
#FAM-actions button:active { background:#DDD; }

#FAM-actions button[data-disabled="true"] { pointer-events:none; }
#FAM-actions button[data-disabled="true"] > * { opacity:0.5; }

#FAM-msg {
  color:#333;
  font-size:14px;
  background:#FFF;
  border:none;
  border-left:1px solid #DDD !important;
  height:40px;
  width:calc(100% - 120px);
  margin:0;
  padding:0 6px;
  vertical-align:top;
  outline:none;
}


/* -- 01. CHATS LIST -- */
.FAM-chat {
  color:#333;
  border-bottom:2px solid #DDD;
  position:relative;
  padding:12px;
  height:80px;
  cursor:pointer;
}
.FAM-chat:hover { background-color:#EEE; }

.FAM-chat-icon {
  position:absolute;
  left:1px;
  bottom:0px;
  z-index:1;
}
.FAM-chat-icon .fa-circle { color:#999; }

.FAM-chat-avatar {
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-20px;
  height:40px;
  width:40px;
  overflow:hidden;
}

.FAM-chat-avatar img {
  height:100%;
  width:100%;
}

.FAM-chat-title, .FAM-chat-date {
  position:absolute;
  left:0;
  width:100%;
  padding:0 12px 0 60px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-chat-title {
  font-size:14px;
  font-weight:bold;
  top:20px;
}

.FAM-chat-date { bottom:20px; }


/* -- 02. MESSAGE LIST -- */
.FAM-msg {
  position:relative;
  padding:12px;
}

.FAM-msg:after {
  content:"";
  display:table;
  clear:both;
}

.FAM-msg-avatar {
  height:40px;
  width:40px;
  margin-top:16px;
  overflow:hidden;
  float:left;
}

.FAM-msg-avatar img {
  height:100%;
  width:100%;
}

.FAM-my-msg .FAM-msg-avatar {
  margin-top:0;
  float:right;
}

.FAM-msg-box {
  float:right;
  width:80%;
  width:calc(100% - 40px);
  padding-left:15px;
}

.FAM-my-msg .FAM-msg-box {
  float:left;
  padding:0 15px 0 0;
}

/* message bubble */
.FAM-msg-content {
  color:#000;
  background:#DDD;
  border-radius:4px;
  padding:8px 12px;
  margin:3px 0;
  min-height:36px;
  max-width:80%;
  position:relative;
  float:left;
}

/* normal message arrow */
.FAM-msg-content:before {
  content:"";
  height:0;
  width:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:10px solid #DDD;
  position:absolute;
  top:13px;
  left:-10px;
}

/* personal message style */
.FAM-my-msg .FAM-msg-content {
  color:#FFF;
  background:#07C;
  float:right;
}

/* personal message arrow */
.FAM-my-msg .FAM-msg-content:before {
  border-right:none;
  border-left:10px solid #07C;
  top:12px;
  left:auto;
  right:-10px;
}

/* message text */
.FAM-msg-text {
  font-size:14px;
  line-height:20px;
  white-space:pre-wrap;
  word-wrap:break-word;
}

/* placeholder size */
.FAM-msg-text .fa-circle-o-notch { font-size:20px; }

/* message content styles */
.FAM-msg-content a {
  color:inherit;
  text-decoration:underline;
}
.FAM-msg-content a:hover { text-decoration:none; }
.FAM-msg-content * { max-width:100%; }

.FAM-msg-date { clear:both; }
.FAM-msg-name, .FAM-msg-date {
  font-size:12px;
  padding:0 3px;
  width:100%;
}

.FAM-my-msg .FAM-msg-name { display:none; } /* hides your name on your messages */
.FAM-my-msg .FAM-msg-date { text-align:right; }


/* -- 03. GITHUB PAGES -- */
#FAM-version-status i {
  font-size:32px;
  vertical-align:-6px;
  margin-right:3px;
}

#FAM-version-status i.fa-check-circle { color:#39F; }
#FAM-version-status i.fa-exclamation-circle { color:#F93; }

#FAM-update-code {
  color:#333;
  font-size:13px;
  font-family:Arial, sans-serif;
  background:#FFF;
  border:1px solid #DDD;
  border-radius:4px;
  resize:none;
  width:100%;
  height:150px;
}

#FAM-creator-info {
  text-align:center;
  margin-top:30px;
}

#FAM-creator-info i, #FAM-update-help i {
  font-size:24px;
  vertical-align:-3px;
}
