/******************************
** === TABLE OF CONTENTS === **
*******************************
** 00. MAIN STYLES
** 01. CHATS LIST
** 02. MESSAGE LIST
******************************/

/* -- 00. MAIN STYLES -- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* style reset for modernbb */
#modernbb #FAM-button i.fa, #modernbb #FAM i.fa, #modernbb #FAM-send {
  margin:initial;
  vertical-align:initial;
}

/* FAM primary styles */
#FAM, #FAM * { box-sizing:border-box; }
#FAM {
  color:#333;
  font-size:13px;
  font-family:Arial;
  background:#FFF;
  border:1px solid #DDD;
  position:fixed;
  height:70%;
  width:40%;
  min-height:400px;
  min-width:300px;
  right:3px;
  z-index:99999;

  /* transitions for the hidden rule below */
  visibility:visible;
  opacity:1;
  bottom:35px;
  transition:500ms;
}

/* hides chat */
#FAM[data-hidden="true"] {
  visibility:hidden;
  opacity:0;
  bottom:-100%;
}

/* embeded chat style */
#FAM.FAM-embeded {
  position:relative;
  bottom:0;
  right:0;
  width:100%;
  height:400px;
  margin:12px 0;
  z-index:1;
}

/* toggle chat button */
#FAM-button {
  color:#FFF;
  font-size:18px;
  font-family:Arial;
  text-align:center;
  background:#39C;
  position:fixed;
  width:30px;
  height:30px;
  right:3px;
  bottom:3px;
  cursor:pointer;
  z-index:99999;
}
#FAM-button i { line-height:30px; }
#FAM-button:hover { background-color:#28B; }
#FAM-button:active { background-color:#17A; }

/* toolbar */
#FAM-toolbar {
  color:#FFF;
  background:#39C;
  border-bottom:1px solid #28B;
  height:40px;
  line-height:40px;
  margin:-1px -1px 0 -1px;
}

.FAM-maintitle {
  color:#FFF;
  font-size:18px;
  text-align:center;
  width:70%;
  margin:0 auto;
  overflow:hidden;
  text-overflow:ellipsis;
}

a.FAM-back {
  color:#FFF;
  font-size:24px;
  position:absolute;
  height:40px;
  left:10px;
}
a.FAM-back i { line-height:40px; }
a.FAM-back:hover { color:#EEE; }
a.FAM-back:active { color:#DDD; }

/* content */
#FAM-content {
  height:90%;
  height:calc(100% - 80px);
  overflow-y:auto;
  overflow-x:hidden;
}

.FAM-loading {
  font-size:18px;
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

/* scrollbar */
#FAM-content::-webkit-scrollbar {
  width:8px;
  height:8px;
}
#FAM-content::-webkit-scrollbar-track { background:none; }
#FAM-content::-webkit-scrollbar-thumb {
  background-color:#39C;
  border:none;
}

/* scrollbar buttons */
#FAM-content::-webkit-scrollbar-button:single-button {
  height:0;
  width:0;
}

/* hover / active scrollbar colors */
#FAM-content::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover { background-color:#28B; }
#FAM-content::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-button:active { background-color:#069; }

/* actions */
#FAM-actions {
  height:40px;
  border-top:1px solid #DDD;
}

#FAM-actions button {
  color:#333;
  font-size:18px;
  background:#FFF;
  border:none;
  border-left:1px solid #DDD;
  height:40px;
  width:40px;
  cursor:pointer;
  outline:none;
}
#FAM-actions button:first-child { border:none; }

#FAM-actions button:hover { background:#EEE; }
#FAM-actions button:active { background:#DDD; }

#FAM-actions button[data-disabled="true"] { pointer-events:none; }
#FAM-actions button[data-disabled="true"] > * { opacity:0.5; }

#FAM-msg {
  font-size:14px;
  border:none;
  border-left:1px solid #DDD;
  height:40px;
  width:calc(100% - 120px);
  margin:0;
  padding:0 6px;
  vertical-align:top;
  outline:none;
}


/* -- 01. CHATS LIST -- */
a.FAM-chat, a.FAM-chat * { display:block; }
a.FAM-chat {
  color:#333;
  border-bottom:2px solid #DDD;
  position:relative;
  padding:12px;
  height:80px;
}
a.FAM-chat:hover { background-color:#EEE; }

.FAM-chat-avatar {
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-20px;
  height:40px;
  width:40px;
  overflow:hidden;
}

.FAM-chat-avatar img {
  height:100%;
  width:100%;
}

.FAM-chat-title, .FAM-chat-date {
  position:absolute;
  left:0;
  width:100%;
  padding:0 12px 0 60px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-chat-title {
  font-size:14px;
  font-weight:bold;
  top:20px;
}

.FAM-chat-date { bottom:20px; }


/* -- 02. MESSAGE LIST -- */
.FAM-msg {
  position:relative;
  padding:12px;
  margin-bottom:12px;
}

.FAM-msg:after {
  content:"";
  display:table;
  clear:both;
}

.FAM-msg-avatar {
  height:40px;
  width:40px;
  display:block;
  margin-top:12px;
  overflow:hidden;
  float:left;
}

.FAM-msg-avatar img {
  height:100%;
  width:100%;
}

.FAM-my-msg .FAM-msg-avatar {
  margin-top:-2px;
  float:right;
}

.FAM-msg-box {
  float:right;
  width:80%;
  width:calc(100% - 40px);
  padding-left:15px;
}

.FAM-my-msg .FAM-msg-box {
  float:left;
  padding:0 15px 0 0;
}

/* message bubble */
.FAM-msg-content {
  color:#000;
  background:#DDD;
  border-radius:6px;
  padding:8px;
  margin:3px 0;
  min-height:30px;
  max-width:80%;
  position:relative;
  float:left;
}

/* normal message arrow */
.FAM-msg-content:before {
  content:"";
  height:0;
  width:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:10px solid #DDD;
  position:absolute;
  top:10px;
  left:-10px;
}

/* personal message style */
.FAM-my-msg .FAM-msg-content {
  color:#FFF;
  background:#07C;
  float:right;
}

/* personal message arrow */
.FAM-my-msg .FAM-msg-content:before {
  border-right:none;
  border-left:10px solid #07C;
  top:12px;
  left:auto;
  right:-10px;
}

/* message content styles */
.FAM-msg-content a {
  color:inherit;
  text-decoration:underline;
}
.FAM-msg-content a:hover { text-decoration:none; }
.FAM-msg-content * { max-width:100%; }

.FAM-msg-date { clear:both; }
.FAM-msg-name, .FAM-msg-date {
  font-size:12px;
  padding:0 3px;
  width:100%;
}

.FAM-my-msg .FAM-msg-name { display:none; } /* hides your name on your messages */
.FAM-my-msg .FAM-msg-date { text-align:right; }
