/******************************
** === TABLE OF CONTENTS === **
*******************************
** 00. MAIN STYLES
** 01. CHATS LIST
** 02. MESSAGE LIST
** 03. TABS LIST
** 04. GITHUB PAGES
** 05. MODAL
******************************/

/* -- 00. MAIN STYLES -- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* style reset for modernbb */
#modernbb #FAM-button i.fa, #modernbb #FAM i.fa, #modernbb #FAM-send {
  margin:initial;
  vertical-align:initial;
}

/* link styles */
#FAM a {
  color:#06D;
  text-decoration:none;
}

#FAM a:hover {
  color:#04A;
  text-decoration:underline;
}

#FAM a:active { color:#028; }

/* FAM primary styles */
#FAM, #FAM * {
  box-sizing:border-box;
  transition:0ms;
}

#FAM {
  color:#333;
  font-size:13px;
  font-family:Arial, sans-serif;
  background:#FFF;
  border:1px solid #DDD;
  position:fixed;
  height:70%;
  width:40%;
  min-height:400px;
  min-width:300px;
  right:3px;
  z-index:99999;

  /* transitions for the hidden rule below */
  visibility:visible;
  opacity:1;
  bottom:35px;
  transition-property:top, right, bottom, left, height, width, margin, opacity, visibility;
  transition-duration:500ms;
}

/* hides chat */
#FAM[data-hidden="true"] {
  visibility:hidden;
  opacity:0;
  bottom:-100%;
}

/* embedded chat style */
#FAM.FAM-embedded {
  position:relative;
  bottom:0;
  right:0;
  width:100%;
  height:500px;
  margin:12px auto;
  z-index:1;
}

/* fullscreen chat style */
#FAM.FAM-fullscreen {
  position:fixed;
  right:0 !important;
  bottom:0 !important;
  margin:0 !important;
  height:100% !important;
  width:100% !important;
  z-index:99999;
}

/* toggle chat button */
#FAM-button {
  color:#FFF;
  font-size:18px;
  text-align:center;
  background:#39F;
  position:fixed;
  width:30px;
  height:30px;
  right:3px;
  bottom:3px;
  cursor:pointer;
  z-index:99999;
  transition-property:right;
  transition-duration:500ms;
}
#FAM-button i { line-height:30px; }
#FAM-button:hover { background-color:#28E; }
#FAM-button:active { background-color:#17D; }

/* fullscreen button style */
#FAM.FAM-fullscreen[data-hidden="false"] + #FAM-button {
  background:none;
  top:5px;
  right:35px;
  bottom:auto;
}

#FAM.FAM-fullscreen[data-hidden="false"] + #FAM-button:hover { color:#EEE; }
#FAM.FAM-fullscreen[data-hidden="false"] + #FAM-button:active { color:#DDD; }

/* toolbar */
#FAM-toolbar {
  color:#FFF;
  background:#39F;
  border-bottom:1px solid #28E;
  height:40px;
  line-height:40px;
  margin:-1px -1px 0 -1px;
}

.FAM-maintitle {
  color:#FFF;
  font-size:18px;
  text-align:center;
  width:70%;
  margin:0 auto;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-toolbar-button {
  color:#FFF;
  font-size:24px;
  position:absolute;
  top:-1px;
  height:40px;
  cursor:pointer;
}

.FAM-toolbar-button i { line-height:40px; }
.FAM-toolbar-button i:hover { color:#EEE; }
.FAM-toolbar-button i:active { color:#DDD; }

#FAM-back { left:10px; }
#FAM-menu-toggle { right:10px; }

/* FAM menu */
#FAM-menu {
  color:#666;
  background:#FFF;
  border:1px solid #CCC;
  position:absolute;
  right:-1px;
  top:39px;
  min-width:75px;
  z-index:2;
}

.FAM-menu-option {
  font-size:30px;
  text-align:center;
  padding:4px;
  cursor:pointer;
}

.FAM-menu-option:hover {
  opacity:0.9;
  background:#EEE;
}

.FAM-menu-option:active {
  opacity:0.8;
  background:#DDD;
}

/* hide home button when no history */
#FAM-back[style*="none"] ~ #FAM-menu .FAM-menu-option:first-child { display:none; }

/* content */
#FAM-content {
  height:90%;
  height:calc(100% - 69px);
  overflow-y:auto;
  overflow-x:hidden;
}
#FAM-content.FAM-reply-open { height:calc(100% - 110px); }
#FAM-tab-container[style*="none"] + #FAM-content { height:calc(100% - 39px); }
#FAM-tab-container[style*="none"] + #FAM-content.FAM-reply-open { height:calc(100% - 80px); }

.FAM-content-block {
  font-size:14px;
  padding:12px;
}

.FAM-loading, .FAM-loading p {
  font-size:18px;
  font-weight:bold;
}

.FAM-loading {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.FAM-loading i {
  display:block;
  margin-bottom:12px;
}

#FAM-no-tabs { cursor:pointer; }

#FAM-idle {
  color:#FFF;
  background:rgba(0, 0, 0, 0.7);
  z-index:10;
  transition:300ms;
  cursor:pointer;
}
#FAM-idle:hover { background:rgba(0, 0, 0, 0.6); }

.FAM-button {
  color:#FFF;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  background:#39F;
  border:none;
  border-radius:4px;
  display:block;
  height:40px;
  padding:0px 12px;
  margin:3px auto;
  cursor:pointer;
  outline:none;
}
.FAM-button:hover { background:#28E; }
.FAM-button:active { background:#17D; }

.FAM-inline-buttons .FAM-button {
  display:inline-block;
  margin:3px;
}

#FAM .FAM-inputbox {
  color:#333;
  font-size:14px;
  font-family:Arial, sans-serif;
  background:#FFF;
  border:1px solid #DDD;
  border-radius:4px;
  padding:8px;
  width:100%;
  vertical-align:baseline;
  cursor:text;
  outline:none;
}

#FAM select.FAM-inputbox, #FAM .FAM-inputbox[type="color"] {
  cursor:pointer;
}

#FAM textarea.FAM-inputbox {
  height:150px;
  resize:none;
}

#FAM .FAM-inputbox:hover { border-color:#CCC; }
#FAM .FAM-inputbox:focus { border-color:#39F; }

#FAM .FAM-button-input .FAM-inputbox {
  width:79%;
  width:calc(100% - 40px);
  height:40px;
  margin:0;
  border-radius:4px 0 0 4px;
}

#FAM .FAM-button-input .FAM-button {
  font-size:24px;
  vertical-align:-4px;
  width:40px;
  height:40px;
  display:inline-block;
  margin:0;
  padding:0;
  border-radius:0 4px 4px 0;
}

#FAM .FAM-button-input-small .FAM-inputbox {
  width:50px;
  height:30px;
  padding:0px 2px;
  vertical-align:top;
}

#FAM .FAM-button-input-small .FAM-button {
  font-size:18px;
  width:30px;
  height:30px; 
}

.FAM-title {
  font-size:24px;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:12px;
}

.FAM-title a { text-decoration:none !important; }

.FAM-title i {
  font-size:36px;
  vertical-align:-2px;
  margin-right:3px;
}

/* list styles */
#FAM .FAM-list {
  margin:0;
  padding:0 0 0 40px;
  list-style-type:none;
}

#FAM .FAM-list li {
  margin:0;
  padding:3px 0;
  position:relative;
}

#FAM .FAM-list li:before {
  content:"";
  background:#39F;
  position:absolute;
  width:8px;
  height:8px;
  left:-16px;
  top:50%;
  margin-top:-4px;
  border-radius:100%;
}

#FAM .FAM-list li:hover:before { background:#06C; }

/* connected buttons */
#FAM .FAM-connected-buttons a {
  color:#333;
  background:#FFF;
  border:1px solid #DDD;
  display:inline-block;
  height:30px;
  line-height:28px;
  padding:0 12px;
  margin-left:-1px;
  text-decoration:none;
}

#FAM .FAM-connected-buttons a:hover {
  background:#EEE;
  border-color:#CCC;
  position:relative;
}

#FAM .FAM-connected-buttons a:active {
  background:#DDD;
  border-color:#BBB;
  position:relative;
}

#FAM .FAM-connected-buttons > a:first-child, #FAM .FAM-connected-buttons > span:first-child > a {
  border-radius:4px 0 0 4px;
  margin-left:0;
}

#FAM .FAM-connected-buttons > a:last-child, #FAM .FAM-connected-buttons > span:last-child > a {
  border-radius:0 4px 4px 0;
}

#FAM .FAM-connected-buttons i {
  font-size:20px;
  margin-right:3px;
  vertical-align:-2px;
}

/* labels / values */
.FAM-label {
  font-weight:bold;
  text-align:right;
  display:inline-block;
  width:30%;
  padding-right:6px;
  margin:0;
}

.FAM-label-value {
  display:inline-block;
  width:70%;
}

#FAM .FAM-label-value .FAM-inputbox:not([type="color"]) {
  width:60%;
}

/* symmetrical labels */
.FAM-symmetrical-label .FAM-label, .FAM-symmetrical-label .FAM-label-value {
  width:50%;
}

.FAM-symmetrical-label .FAM-label-value {
  text-align:left;
}

/* alignment, separation, and special classes */
.FAM-left { text-align:left; }
.FAM-right { text-align:right; }
.FAM-center { text-align:center; }

.FAM-float-left { float:left; }
.FAM-float-right { float:right; }
.FAM-clear { clear:both; }
.FAM-clear:after {
  content:"";
  display:table;
  clear:both;
}

.FAM-row, #FAM p { margin:12px 0; }
#FAM .FAM-center-block {
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.FAM-error {
  color:#F66;
  font-weight:bold;
}

/* pointer events */
.FAM-noclick { pointer-events:none; }
.FAM-clickable { pointer-events:all; }

/* separators for content */
.FAM-separator:after {
  content:" ";
  color:#CCC;
}

.FAM-forum .FAM-separator:after {
  content:" | ";
}

/* scrollbar */
#FAM *::-webkit-scrollbar {
  width:8px;
  height:8px;
}

#FAM *::-webkit-scrollbar-track { background-color:#DDD; }
#FAM *::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, 0.1);
  border:none;
}

/* scrollbar buttons */
#FAM *::-webkit-scrollbar-button:single-button {
  height:0;
  width:0;
}

/* hover / active scrollbar colors */
#FAM *::-webkit-scrollbar-thumb:hover { background-color:rgba(0, 0, 0, 0.2); }
#FAM *::-webkit-scrollbar-thumb:active { background-color:rgba(0, 0, 0, 0.3); }

/* actions */
#FAM-actions {
  height:40px;
  border-top:1px solid #DDD;
  display:none;
}
.FAM-viewing-topic + #FAM-actions, .FAM-viewing-forum + #FAM-actions { display:block; }
.FAM-viewing-forum + #FAM-actions {
  height:0;
  border:none;
}

#FAM-new-topic {
  position:absolute;
  right:8px;
  bottom:3px;
  cursor:pointer;
}

#FAM-new-topic .fa-plus { line-height:57px; }
#FAM-new-topic .fa-circle { color:#39F; }
#FAM-new-topic:hover .fa-circle { color:#28E; }
#FAM-new-topic:active .fa-circle { color:#17D; }

#FAM-actions > button {
  color:#333;
  font-size:18px;
  background:#FFF;
  border:none;
  border-left:1px solid #DDD;
  height:40px;
  width:40px;
  cursor:pointer;
  outline:none;
}

#FAM-actions > button:hover { background:#EEE; }
#FAM-actions > button:active { background:#DDD; }

#FAM-actions > button[data-disabled="true"] { pointer-events:none; }
#FAM-actions > button[data-disabled="true"] > * { opacity:0.5; }

/* attachment button */
#FAM-actions > button#FAM-attachment {
  border:none;
  position:relative;
}

#FAM-attachment-total {
  color:#FFF;
  font-size:12px;
  font-weight:bold;
  background:#39F;
  border-radius:4px;
  position:absolute;
  bottom:1px;
  left:1px;
  padding:1px 3px;
}

#FAM-attach-success {
  color:#FFF;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  background:#8B5;
  position:absolute;
  top:-1px;
  left:-1px;
  right:-1px;
  height:40px;
  line-height:40px;
  padding:0 6px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

#FAM-attach-success i {
  font-size:26px;
  margin-right:6px;
  vertical-align:-3px;
}

/* drop down */
#FAM-actions .FAM-dropdown {
  background:#FFF;
  border:1px solid #DDD;
  position:absolute;
  left:0;
  bottom:40px;
  width:300px;
  height:400px;
  z-index:2;
}

.FAM-dropdown .FAM-dropdown-inner { padding:6px; }

.FAM-dropdown-title {
  color:#FFF;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  background:#39F;
  height:40px;
  line-height:40px;
  padding:0 6px;
  margin:-1px -1px 0 -1px;
}

.FAM-dropdown-back { left:3px; }

.FAM-dropdown-inner .FAM-dropdown-title {
  margin:-7px -7px 12px -7px;
}

.FAM-block-option {
  color:#666;
  font-size:16px;
  font-weight:bold;
  border-bottom:1px solid #DDD;
  width:100%;
  height:40px;
  line-height:40px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
}

.FAM-block-option:hover {
  color:#333;
  background:#EEE;
}

.FAM-block-option:active {
  color:#000;
  background:#DDD;
}

.FAM-option-icon {
  font-size:20px;
  font-weight:normal;
  text-align:center;
  display:inline-block;
  width:50px;
  height:40px;
  line-height:40px;
  float:left;
}

.FAM-option-icon i {
  line-height:40px;
}

.FAM-option-icon.FAM-text-icon {
  font-size:18px;
  font-weight:bold;
  font-stretch:condensed;
}

/* Giphy search */
#FAM-giphy-results {
  height:260px;
  margin:10px auto;
  text-align:center;
  overflow-x:hidden;
  overflow-y:auto;
}

.FAM-giphy-imagelist {
  line-height:0;
  column-count:2;
  column-gap:3px;
}

.FAM-giphy-imagelist img {
  width:100%;
  margin-bottom:3px;
  cursor:pointer;
}

#FAM #FAM-giphy-mark {
  background:url(http://i35.servimg.com/u/f35/18/21/60/73/powere11.png) no-repeat 50% 50% transparent;
  height:22px;
  width:100%;
}

/* attachment manager */
#FAM-attachment-manager {
  height:340px;
  overflow-y:auto;
  overflow-x:hidden;
}

#FAM-attachment-manager .FAM-inputbox { width:65%; }

.FAM-attachment-thumb {
  text-align:center;
  border:1px solid #DDD;
  border-radius:4px;
  display:inline-block;
  width:50px;
  height:50px;
  margin-right:6px;
  object-fit:cover;
  vertical-align:-20px;
}

a.FAM-attachment-thumb { vertical-align:-5px; }
.FAM-attachment-thumb i {
  font-size:24px;
  line-height:50px;
}

.FAM-attachment-delete {
  margin-left:6px;
  cursor:pointer;
}

.FAM-attachment-delete:hover .fa-circle { color:#F33; }

/* main message input */
#FAM-msg {
  color:#333;
  font-size:14px;
  font-family:Arial, sans-serif;
  background:none;
  border:none;
  height:40px;
  width:100%;
  margin:0;
  padding:6px;
  outline:none;
  resize:none;
}

#FAM-msg-container {
  border-left:1px solid #DDD;
  display:inline-block;
  height:40px;
  width:calc(100% - 120px);
  vertical-align:top;
  position:relative;
}

#FAM-timeout-bar {
  background:#CCC;
  position:absolute;
  left:0;
  bottom:0;
  width:5px;
  z-index:-1;
}


/* -- 01. CHATS LIST -- */
.FAM-chat {
  color:#333;
  border-bottom:2px solid #DDD;
  position:relative;
  padding:12px;
  height:80px;
  cursor:pointer;
}
.FAM-chat:hover { background-color:#EEE; }

.FAM-chat-icon {
  position:absolute;
  left:1px;
  bottom:0px;
  z-index:1;
}
.FAM-chat-icon .fa-circle { color:#999; }
.FAM-chat-icon.FAM-new-post .fa-circle { color:#39F; }

.FAM-chat-avatar {
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-20px;
  height:40px;
  width:40px;
  overflow:hidden;
}

.FAM-chat-avatar img {
  height:100%;
  width:100%;
}

.FAM-chat-title, .FAM-chat-date {
  position:absolute;
  left:0;
  width:100%;
  padding:0 12px 0 60px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-chat-title {
  font-size:14px;
  font-weight:bold;
  top:20px;
}

.FAM-chat-date { bottom:20px; }

/* pagination */
.FAM-pagination {
  text-align:center;
  border-bottom:2px solid #DDD;
}

#FAM a.FAM-page-link, .FAM-page-link {
  color:#FFF;
  font-size:18px;
  font-weight:bold;
  text-decoration:none;
  background:#39F;
  display:inline-block;
  height:25px;
  line-height:26px;
  padding:0 8px;
  margin:3px 1px;
}

#FAM a.FAM-page-link:hover { background:#28E; }
#FAM a.FAM-page-link:active { background:#17D; }
strong.FAM-page-link, b.FAM-page-link { background:#999; }


/* -- 02. MESSAGE LIST -- */
.FAM-msg {
  position:relative;
  padding:12px;
}

.FAM-msg:after {
  content:"";
  display:table;
  clear:both;
}

.FAM-msg-avatar {
  border:2px solid #CCC;
  width:48px;
  height:48px;
  padding:2px;
  margin-top:16px;
  border-radius:100%;
  overflow:hidden;
  float:left;
}

.FAM-msg-online .FAM-msg-avatar {
  border-color:#39F;
}

.FAM-msg-avatar img {
  height:100%;
  width:100%;
  border-radius:100%;
}

.FAM-my-msg .FAM-msg-avatar {
  margin-top:-4px;
  float:right;
}

.FAM-msg-box {
  float:right;
  width:80%;
  width:calc(100% - 48px);
  padding-left:15px;
}

.FAM-my-msg .FAM-msg-box {
  float:left;
  padding:0 15px 0 0;
}

/* message bubble */
.FAM-msg-content {
  color:#000;
  background:#DDD;
  border-radius:4px;
  padding:8px 12px;
  margin:3px 0;
  min-height:36px;
  max-width:80%;
  position:relative;
  float:left;
}
.FAM-msg-editing .FAM-msg-content { width:100%; }

/* normal message arrow */
.FAM-msg-content:before {
  content:"";
  height:0;
  width:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:10px solid #DDD;
  position:absolute;
  top:13px;
  left:-10px;
}

/* personal message style */
.FAM-my-msg .FAM-msg-content {
  color:#FFF;
  background:#07C;
  float:right;
}

/* personal message arrow */
.FAM-my-msg .FAM-msg-content:before {
  border-right:none;
  border-left:10px solid #07C;
  top:12px;
  left:auto;
  right:-10px;
}

/* message text */
.FAM-msg-text {
  font-size:14px;
  line-height:20px;
  white-space:pre-wrap;
  word-wrap:break-word;
}

/* placeholder size */
.FAM-msg-text .fa-circle-o-notch { font-size:20px; }

/* message content styles */
#FAM .FAM-msg-text a {
  color:inherit !important;
  text-decoration:underline;
  cursor:pointer;
}
#FAM .FAM-msg-text a:hover { text-decoration:none; }

.FAM-msg-text * { max-width:100%; }
.FAM-msg-text img { max-height:200px; }

.FAM-msg-date { clear:both; }
.FAM-msg-date, .FAM-msg-name {
  font-size:12px;
  width:100%;
  height:20px;
  line-height:20px;
  padding:0 3px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.FAM-name-mention { cursor:pointer; }

.FAM-my-msg .FAM-msg-name { display:none; } /* hides your name on your messages */
.FAM-my-msg .FAM-msg-date { text-align:right; }

/* message error */
.FAM-msg-error .FAM-msg-content { background:#F33; }
.FAM-msg-error .FAM-msg-content:before { border-left-color:#F33; }

/* message attachments */
.FAM-msg-text .FAM-attachment, .FAM-msg-text .FAM-attachment * {
  display:block;
}

.FAM-msg-text .FAM-attachment tbody {
  line-height:0;
  column-count:2;
  column-gap:5px;
}

.FAM-msg-text .FAM-attachment tr {
  background:#FFF;
  width:100%;
  max-height:200px;
  padding:3px;
  margin-bottom:5px;
  border-radius:4px;
  overflow:hidden;

  -webkit-column-break-inside:avoid;
            page-break-inside:avoid;
                 break-inside:avoid;
}

.FAM-msg-text .FAM-attachment tr:only-child {
  column-span:all;
  margin:0;
}

.FAM-msg-text .FAM-attachment td {
  color:#333;
  font-size:18px;
  min-height:20px;
  line-height:20px;
  position:relative;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-msg-text .FAM-attachment td * {
  width:100%;
  object-fit:cover;
}

.FAM-msg-text .FAM-attachment td, .FAM-msg-text .FAM-attachment td * {
  border-radius:4px;
  max-height:194px;
}

/* message actions */
#FAM .FAM-msg-actions {
  background:inherit;
  border-radius:4px;
  position:absolute;
  left:0;
  bottom:0px;
  height:25px;
  white-space:nowrap;
  visibility:hidden;
  opacity:0;
  transition:300ms;
}

#FAM .FAM-msg:hover .FAM-msg-actions {
  visibility:visible;
  opacity:1;
  bottom:-20px;
}

#FAM .FAM-my-msg .FAM-msg-actions {
  left:auto;
  right:0;
}

.FAM-msg-button {
  font-size:16px;
  padding:0 6px;
  cursor:pointer;
}

.FAM-msg-button:hover { opacity:0.7; }

.FAM-msg-button i { line-height:25px; }

/* attachment overlay for openning media viewer */
.FAM-msg-text .FAM-attachment td:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  cursor:pointer;
}

#FAM [onclick="FAM.modal.open(this);"] { cursor:pointer; }

/* add ellipsis to long unknown media links */
.FAM-msg-text .FAM-attachment td a {
  overflow:hidden;
  text-overflow:ellipsis;
}

/* lists */
.FAM-msg-text ul, .FAM-msg-text ol {
  padding-left:30px;
  margin:12px 0;
}

.FAM-msg-text ul > br:first-child, .FAM-msg-text ol > br:first-child {
  display:none;
}

/* quote and code boxes */
.FAM-codebox, .FAM-spoiler {
  color:#333;
  background:#FFF;
  border:1px solid #CCC;
  border-radius:4px;
  padding:0;
  margin:12px 0;
  overflow:hidden;
}

.FAM-codebox dt a, .FAM-codebox cite a { color:#333 !important; }
.FAM-codebox dt, .FAM-spoiler dt, .FAM-codebox cite {
  color:#333;
  font-size:14px;
  font-weight:bold;
  background:#CCC;
  padding:3px;
  margin:0;
  cursor:auto !important;
}

.FAM-codebox dd, .FAM-spoiler dd {
  padding:3px;
  margin:0;
}

.FAM-codebox code {
  display:block;
  max-height:150px;
  max-width:none;
  padding:3px;
  margin:-3px;
  overflow:auto;
}

/* quote box padding and title margin fix */
blockquote.FAM-codebox { padding:3px; }
blockquote.FAM-codebox cite {
  margin:-3px -3px 0px -3px;
  max-width:none;
}

blockquote.FAM-codebox > div { margin:0; }

/* hidecode title */
.FAM-hidecode > dt:after {
  content:"Hidden:";
}

/* post box icons */
.FAM-codebox:before { content:""; } /* hide modernbb icons */
.FAM-codebox > dt:before, .FAM-spoiler dt:before, .FAM-codebox cite:before, .FAM-attachbox > dt:before {
  content:"\\f086";
  font-family:FontAwesome;
  margin-right:3px;
}

.FAM-codebox cite:before { content:"\\f10d"; }
.FAM-codebox > dt:before { content:"\\f121"; }
.FAM-spoiler > dt:before { content:"\\f071"; }
.FAM-hidecode > dt:before { content:"\\f070"; }
.FAM-attachbox > dt:before { content:"\\f0c6"; }

/* spoiler content blackout */
.FAM-spoiler_content {
  position:relative;
  display:inline-block;
}

.FAM-spoiler_content:after {
  content:"";
  background:#000;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  visibility:visible;
}

.FAM-spoiler_content:hover:after { visibility:hidden; }

/* force default message color */
.FAM-msg-text .FAM-post-content, .FAM-msg-text font[color] {
  color:inherit;
}

/* captcha styles */
#fc-token.FAM-inputbox { width:308px; }
.FAM-captcha p:first-child strong, .FAM-captcha p:first-child b {
  font-size:24px;
  display:inline-block;
  margin-bottom:6px;
}


/* new message notifications */
#FAM-new-msg-notif {
  color:#FFF;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  background:#39F;
  position:absolute;
  height:30px;
  line-height:30px;
  left:0;
  right:0;
  z-index:1;
  opacity:0.8;
  cursor:pointer;
}

#FAM-new-msg-notif:after {
  content:"\\f00d";
  font-size:18px;
  font-weight:normal;
  font-family:FontAwesome;
  position:absolute;
  right:6px;
}

#FAM-new-msg-notif:hover { opacity:1; }
#FAM-new-msg-notif + #FAM-content { padding-top:30px; }

#FAM-new-msg-divider {
  color:#39F;
  font-size:18px;
  text-align:center;
  margin:12px;
  white-space:nowrap;
  overflow:hidden;
}

#FAM-new-msg-divider:before, #FAM-new-msg-divider:after {
  content:"";
  background:#39F;
  display:inline-block;
  width:25%;
  height:2px;
  position:relative;
  top:-4px;
}

#FAM-new-msg-divider:before { margin-right:12px; }
#FAM-new-msg-divider:after { margin-left:12px; }


/* -- 03. TABS LIST -- */
#FAM-tab-container {
  height:30px;
  position:relative;
  border-bottom:1px solid #DDD;
}

#FAM-tab-add {
  font-size:18px;
  text-align:center;
  border-left:1px solid #DDD;
  position:absolute;
  right:0;
  top:0;
  width:30px;
  height:30px;
  cursor:pointer;
}
#FAM-tab-add i { line-height:30px; }
#FAM-tab-add:hover { color:#39F; }


#FAM-tabs {
  width:80%;
  width:calc(100% - 30px);
  white-space:nowrap;
  overflow:hidden;
}

#FAM-tabs:hover {
  overflow-x:auto;
  position:relative;
  z-index:2;
}

.FAM-tab {
  background:#EEE;
  border:1px solid #DDD;
  border-left:none;
  border-top:none;
  position:relative;
  display:inline-block;
  width:120px;
  height:30px;
  line-height:30px;
  cursor:pointer;
}
.FAM-tab:hover { background:#FFF; }

.FAM-tab.FAM-tab-active {
  font-weight:bold;
  background:#FFF;
  cursor:default;
}

.FAM-tab.FAM-tab-active:after {
  content:"";
  background:#39F;
  position:absolute;
  left:0;
  right:0;
  bottom:-1px;
  height:4px;
}

.FAM-tab-name {
  font-size:12px;
  display:inline-block;
  padding:0 3px;
  width:80%;
  width:calc(100% - 16px);
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.FAM-tab-close {
  font-size:16px;
  position:absolute;
  top:50%;
  margin-top:-8px !important;
  right:3px;
  cursor:pointer;
}

.FAM-tab-close:hover { color:#F33; }


/* -- 04. GITHUB PAGES -- */
/* PROFILE PAGE */
#FAM-profile-username {
  font-size:18px;
  font-weight:bold;
}
#FAM-profile-rank { font-weight:bold; }

#FAM-profile-avatar {
  display:inline-block;
  width:108px;
  height:108px;
  padding:2px;
  border:2px solid #DDD;
  border-radius:100px;
  overflow:hidden;
}

#FAM-menu-avatar {
  display:inline-block;
  height:30px;
  width:30px;
  border-radius:30px;
  overflow:hidden;
}

#FAM-menu-avatar img, #FAM-profile-avatar img {
  width:100%;
  height:100%;
  border-radius:100%;
}

/* ABOUT FAM */
#FAM #FAM-service-title a {
  color:#333;
  font-weight:normal;
}

#FAM-service-title b, #FAM-service-title i { color:#39C; }
#FAM-service-title b:last-child { color:#39F; }

/* version status card */
#FAM-version-card {
  border:1px solid #DDD;
  border-radius:4px;
  text-align:left;
  width:80%;
  margin:30px auto 12px auto;
  white-space:nowrap;
  overflow-x:auto;
  position:relative;
}

#FAM-version-status-icon {
  text-align:center;
  position:absolute;
  width:50px;
  left:0;
  top:50%;
  margin-top:-18px;
}

#FAM-version-status-icon i { font-size:36px; }
#FAM-version-status-icon .fa-check-circle { color:#39F; }
#FAM-version-status-icon .fa-exclamation-circle { color:#F93; }

#FAM-version-info {
  width:100%;
  padding-left:50px;
}

#FAM-version-info > div { margin:10px 0; }
#FAM-version-status { font-weight:bold; }

#FAM-creator-info {
  text-align:center;
  margin-top:30px;
}

#FAM-creator-info i {
  font-size:18px;
  vertical-align:middle;
}


/* SEARCH PAGE */
#FAM #FAM-search-keywords {
  font-size:18px;
  height:40px;
  padding:0 8px
}

#FAM-search-results {
  border:1px solid #DDD;
  max-height:300px;
  overflow:auto;
}

#FAM-search-results .FAM-chat-avatar, .FAM-viewing-search .FAM-chat-avatar { display:none; }
#FAM-search-results .FAM-chat-icon, .FAM-viewing-search .FAM-chat-icon {
  left:10px;
  top:50%;
  margin-top:-17px;
}


/* -- 05. MODAL -- */
#FAM-modal-overlay, #FAM-modal-content {
  position:fixed;
  z-index:999999;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#FAM-modal-overlay { background:rgba(0, 0, 0, 0.8); }

/* center media content */
#FAM-modal-content, #FAM-media-viewer, .FAM-modal-arrows {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

#FAM-media-viewer {
  background:#FFF;
  border-radius:8px;
  position:relative;
  min-width:100px;
  min-height:100px;
  max-width:100%;
  max-width:calc(100% - 96px);
  max-height:100%;
  max-height:calc(100% - 96px);
  padding:16px;
}

/* media list */
#FAM-media-list {
  width:100%;
  max-height:100vh;
  max-height:calc(100vh - 96px);
  overflow:hidden;
}

#FAM-media-list > img, #FAM-media-list > iframe {
  max-width:100%;
  max-height:100vh;
  max-height:calc(100vh - 96px);
}

#FAM-media-list > a {
  font-size:24px;
  max-width:90%;
  display:inline-block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/* media control buttons */
.FAM-modal-controls {
  color:#999;
  position:absolute;
  cursor:pointer;
  opacity:1;
}

.FAM-modal-controls:hover {
  color:#FFF;
}

/* arrows for media navigation */
.FAM-modal-arrows {
  top:0;
  bottom:0;
  width:41px;
}

#FAM-modal-prev {
  left:-25px;
  justify-content:flex-start;
}

#FAM-modal-next {
  right:-25px;
  justify-content:flex-end;
}

/* close button */
#FAM-modal-close {
  top:0;
  right:-25px;
  z-index:1;
}

/* view media button */
#FAM-view-media {
  top:30px;
  right:-26px;
  z-index:1;
}
